---

---

<section class="hero">
    <div class="container">
        <h1>Soluciones Tecnológicas Integrales</h1>
        <a href="https://api.whatsapp.com/send?phone=573169607777&text=Hola,%20LinkClover%20quisiera%20tener%20mas%20informacion%20sobre%20sus%20servicios%20y%20areas%20donde%20estan%20innovando." class="button button-primary"><span>Solicitar Demo</span></a>
        <a href={`/conocer_mas/`} class="button button-outline">Conocer Más</a>
    </div>
</section>