---

---

<section class="hero">
    <div class="container">
        <h1>Soluciones Tecnológicas Integrales</h1>
        <p>Somos expertos en administración de TI para empresas y personas naturales en Colombia, México y Estados Unidos, ofreciendo soluciones integrales como implementación y soporte de Microsoft 365, desarrollo de software a medida, redes, e-commerce con WordPress, mantenimiento y reparación de equipos, infraestructura tecnológica, y licenciamiento de software. Además, contamos con un laboratorio especializado, soporte remoto, y un call center dedicado para garantizar atención de calidad y proyectos innovadores.</p>
        <a href="https://api.whatsapp.com/send?phone=573169607777&text=Hola,%20LinkClover%20quisiera%20tener%20mas%20informacion%20sobre%20sus%20servicios%20y%20areas%20donde%20estan%20innovando." class="button button-primary"><span>Solicitar Demo</span></a>
        <a href={`/servicios/`} class="button button-outline">Conocer Más</a>
    </div>
</section>