---

---

<section class="clients">
    <div class="container">
        <h2>Algunos de Nuestros Clientes</h2>
        <div class="carousel-container">
            <button class="carousel-button prev" aria-label="Anterior">&lt;</button>
            <div class="clients-carousel">
                <div class="clients-grid">
                    <a href="#" class="client-logo-link">
                        <img src="https://media.linkclover.com/wp-content/uploads/2024/11/4.png" alt="Cliente 2" class="client-logo">
                    </a>
                    <a href="#" class="client-logo-link">
                        <img src="https://media.linkclover.com/wp-content/uploads/2024/11/1-1.png" alt="Cliente 1" class="client-logo">
                    </a>
                    <a href="#" class="client-logo-link">
                        <img src="https://media.linkclover.com/wp-content/uploads/2024/11/5-1.png" alt="Cliente 3" class="client-logo">
                    </a>
                    <a href="#" class="client-logo-link">
                        <img src="https://media.linkclover.com/wp-content/uploads/2024/11/6-1.png" alt="Cliente 4" class="client-logo">
                    </a>
                    <a href="#" class="client-logo-link">
                        <img src="https://media.linkclover.com/wp-content/uploads/2024/11/1.png" alt="Cliente 5" class="client-logo">
                    </a>
                    <a href="#" class="client-logo-link">
                        <img src="https://media.linkclover.com/wp-content/uploads/2024/11/10-1.png" alt="Cliente 6" class="client-logo">
                    </a>
                    <a href="#" class="client-logo-link">
                        <img src="https://media.linkclover.com/wp-content/uploads/2024/11/3.png" alt="Cliente 7" class="client-logo">
                    </a>
                    <a href="#" class="client-logo-link">
                        <img src="https://media.linkclover.com/wp-content/uploads/2024/11/7-1.png" alt="Cliente 8" class="client-logo">
                    </a>
                    <a href="#" class="client-logo-link">
                        <img src="https://media.linkclover.com/wp-content/uploads/2024/11/2-1.png" alt="Cliente 9" class="client-logo">
                    </a>
                    <a href="#" class="client-logo-link">
                        <img src="https://media.linkclover.com/wp-content/uploads/2024/11/9-1.png" alt="Cliente 10" class="client-logo">
                    </a>
                    <a href="#" class="client-logo-link">
                        <img src="https://media.linkclover.com/wp-content/uploads/2024/11/6.png" alt="Cliente 11" class="client-logo">
                    </a>
                    <a href="#" class="client-logo-link">
                        <img src="https://media.linkclover.com/wp-content/uploads/2024/11/7.png" alt="Cliente 12" class="client-logo">
                    </a>
                    <a href="#" class="client-logo-link">
                        <img src="https://media.linkclover.com/wp-content/uploads/2024/11/5.png" alt="Cliente 13" class="client-logo">
                    </a>
                    <a href="#" class="client-logo-link">
                        <img src="https://media.linkclover.com/wp-content/uploads/2024/11/8-1.png" alt="Cliente 14" class="client-logo">
                    </a>
                    <a href="#" class="client-logo-link">
                        <img src="https://media.linkclover.com/wp-content/uploads/2024/11/2.png" alt="Cliente 15" class="client-logo">
                    </a>
                    <a href="#" class="client-logo-link">
                        <img src="https://media.linkclover.com/wp-content/uploads/2024/11/4-1.png" alt="Cliente 16" class="client-logo">
                    </a>
                    <a href="#" class="client-logo-link">
                        <img src="https://media.linkclover.com/wp-content/uploads/2024/11/3-1.png" alt="Cliente 17" class="client-logo">
                    </a>
                </div>
            </div>
            <button class="carousel-button next" aria-label="Siguiente">&gt;</button>
        </div>
    </div>
</section>