---

import '../../components/conocer_mas/css/conocerMas.css'
import MainLayout from '../../layouts/MainLayout.astro'

---

<MainLayout title='Consultoría Informática'>
    <div class="container">
        <h1 class="main-title">Conoce Más sobre Consultoría Informática en LinkClover</h1>
        
        <div class="description">
            <div class="description-content">
                <h2 class="description-title">Consultoría Informática</h2>
                <p>En LinkClover, ofrecemos un servicio especializado de consultoría informática, diseñado para maximizar la productividad y eficiencia de tu organización. Nuestro equipo de expertos está preparado para asistirte en:</p>
                <ul class="description-list">
                    <li>Evaluación y optimización de infraestructuras tecnológicas</li>
                    <li>Solución de problemas técnicos y soporte continuo</li>
                    <li>Implementación de políticas de seguridad y cumplimiento</li>
                    <li>Integración con otras herramientas y servicios</li>
                    <li>Capacitación y asesoría personalizada</li>
                </ul>
                <p>Nos aseguramos de que tu infraestructura informática esté siempre optimizada y funcionando sin problemas, permitiéndote enfocarte en lo que realmente importa: tu negocio.</p>
            </div>
        </div>
    
    </div>
    
</MainLayout>
