---

import '../../components/conocer_mas/css/conocerMas.css'
import MainLayout from '../../layouts/MainLayout.astro'

---

<MainLayout title='Ecommerce'>
    <div class="container">
        <h1 class="main-title">Conoce Más sobre Ecommerce en LinkClover</h1>
        
        <div class="description">
            <div class="description-content">
                <h2 class="description-title">Ecommerce</h2>
                <p>En LinkClover, ofrecemos un servicio especializado en Ecommerce, diseñado para satisfacer las necesidades específicas de tu tienda en línea. Nuestro equipo de expertos está preparado para asistirte en:</p>
                <ul class="description-list">
                    <li>Diseño e implementación de tiendas online personalizadas</li>
                    <li>Integración con plataformas de pago y envío</li>
                    <li>Implementación de soluciones escalables y seguras</li>
                    <li>Automatización de procesos de venta</li>
                    <li>Capacitación y soporte continuo en WordPress y WooCommerce</li>
                </ul>
                <p>Nos aseguramos de que tu tienda online esté siempre optimizada y funcionando sin problemas, permitiéndote enfocarte en lo que realmente importa: tu negocio.</p>
            </div>
        </div>
    
    </div>
    
</MainLayout>
