---

import '../../components/conocer_mas/css/conocerMas.css'
import MainLayout from '../../layouts/MainLayout.astro'

---

<MainLayout title='Seguridad Informática'>
    <div class="container">
        <h1 class="main-title">Conoce Más sobre Seguridad Informática en LinkClover</h1>
        
        <div class="description">
            <div class="description-content" >
                <h2 class="description-title">Seguridad Informática</h2>
                <p>En LinkClover, ofrecemos un servicio especializado en seguridad informática, diseñado para proteger los activos digitales de tu organización. Nuestro equipo de expertos está preparado para asistirte en:</p>
                <ul class="description-list">
                    <li>Evaluación y gestión de riesgos de seguridad</li>
                    <li>Implementación de soluciones de ciberseguridad</li>
                    <li>Monitoreo y respuesta ante incidentes</li>
                    <li>Automatización de procesos de seguridad</li>
                    <li>Capacitación y soporte continuo</li>
                </ul>
                <p>Nos aseguramos de que tu infraestructura esté siempre protegida y funcionando sin problemas, permitiéndote enfocarte en lo que realmente importa: tu negocio.</p>
            </div>
        </div>
    
    </div>
    
</MainLayout>
