---

import './css/conocerMas.css'

---

<div class="container">
    <h1 class="main-title">Conoce Más sobre LinkClover</h1>
    
    <div class="description">
        <div class="description-content">
            <h2 class="description-title">Expertos en Soluciones TI Integrales</h2>
            <p>Somos líderes en administración de TI para empresas y personas naturales en Colombia, México y Estados Unidos, ofreciendo soluciones integrales como:</p>
            <ul class="description-list">
                <li>Implementación y soporte de Microsoft 365</li>
                <li>Desarrollo de software a medida</li>
                <li>Redes y e-commerce con WordPress</li>
                <li>Mantenimiento y reparación de equipos</li>
                <li>Infraestructura tecnológica</li>
                <li>Licenciamiento de software</li>
            </ul>
            <p>Además, contamos con un laboratorio especializado, soporte remoto, y un call center dedicado para garantizar atención de calidad y proyectos innovadores.</p>
        </div>
    </div>

</div>